<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 6: Quotes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script defer src="/js/quotes.js" ></script>
</head>
<%- include("partials/header.ejs") %>
<body>
        <% for (let i of rows) { %>
            <%= i.quote %><br>
            <a href="#" class="authorName" data-author-id="<%= i.authorId %>"><%= i.firstName %> <%= i.lastName %></a>
            <br><br>
        <% } %>
    <!-- creating modal window -->
    <dialog id="authorModal">
        <div id="authorInfo">
            <button id="closeModal">Close</button>
            <h1 id="authorName"></h1>
            <img id="authorPicture" width = "300px"><br>
            Biography<p id="biography"></p>
            Country<p id="country"></p>
            Date of Birth<p id="dob"></p>
            Date of Death<p id="dod"></p>
            Profession<p id="profession"></p>
            Gender<p id="sex"></p>
        </div>
    </dialog>

    <%- include("partials/footer.ejs") %>
    
    
</body>
</html>